body {
  background-color: rgb(0, 0, 0);
}

.backgrounds {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tennis {
  width: calc(20% - 20px);
  background-color: green;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.tennis img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.bemVindo {
  background-color: gray;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}
/* (nota de esclarecimento) inicialmente fiz o div bem vind que servia pro rodape e nome daloja
porém percebi que existia uma tag footer então fique em duvida de se 
o senhor queria literalmente o uso da tag footer ou não, então usei 
a footer para o roda pé e mantive a antiga div pro bem vindo */

footer {
  text-align: center;
  margin-top: 50px; /* Espaço entre o conteúdo principal e o rodapé */
  background-color: gray;
  padding: 20px 0;
  color: white;
  font-weight: bold;
}

