body {
    background-color: #000000;/* cor de tentatica para transição de fundo zuave*/
    color: rgb(40, 228, 15);/*cor da letra*/
}

.background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../../midia/imagem2.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;/* coloquei pq sem isso a imagem sobreóe texto */
    
}
h1 {
    /* display: inline-block; limita o bloco de h1 para tamanho da linha 
    escrita  tirei porque não sabia se podia usar*/
    background-color: rgb(250, 3, 56); /* cor vermelha conforme o slide */
    border: 2px solid rgb(40, 228, 15); /* cor verde conforme slide */
    padding: 10px; /* Adiciona um espaçamento interno de 10 pixels */
}







