.button {
    display: inline-block;
    position: relative; /* Permite posicionar elementos filhos relativos a este elemento */
}

.button img {
    display: block; /* Garante que a imagem seja exibida como um bloco */
    width: 100px; /* ajuste o tamanho da imagem conforme necessário */
    height: auto; /* mantém a proporção da imagem */
}

.button-text {
    position: absolute; /* Posiciona o texto em relação ao elemento pai (.button) */
    top: 50%; /* Alinha o texto verticalmente ao centro */
    left: 50%; /* Alinha o texto horizontalmente ao centro */
    transform: translate(-50%, -50%); /* Move o texto de volta em 50% do seu próprio tamanho para centralizá-lo completamente */
    color: rgb(255, 0, 76); /* Cor do texto */
    font-size: 10px; /* Tamanho da fonte em relação ao elemento pai (.button) */
    font-weight: bold; /* Peso da fonte */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    text-align: center; /* Alinhamento do texto */
    padding: 4px 8px; /* Espaçamento interno */
    pointer-events: none; /* Garante que o texto não capture eventos do mouse */
    transition: color 0.3s; /* Adiciona uma transição suave para a mudança de cor */
    z-index: 1; /* Garante que o texto esteja sobre a imagem */
}

.button:hover .button-text {
    color: blue; /* Define a cor do texto quando o mouse passa sobre ele */
}
body {
    background-color: #000000;
    color: blue;
    }
