/* Estilo para os parágrafos */
body{
    background-color: black;/*cor de fundo preta para ficar  outros*/
    color: blanchedalmond; /* cor das letras do paragrafo*/
}
 h1,h3 {
    color: rgb(250, 3, 56);/*cor para topicos e subtopicos*/

}

p {
    text-decoration: underline; /* Sublinhar todo o texto dentro do parágrafo */
    font-family: Arial, sans-serif; /* Usar a fonte Arial */

}

/* Estilo para os hiperlinks */
a {
    text-decoration: none; /*tirando sublinhado*/
    font-weight: bold; /* Aplicar negrito aos hiperlinks */
    font-family: "Times New Roman", serif; /* Usar a fonte*/
}